<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false"
         version="3.1">

 <display-name>testBe5app</display-name>

 <servlet>
  <servlet-name>api</servlet-name>
  <servlet-class>com.developmentontheedge.be5.servlet.MainServlet</servlet-class>

  <init-param>
   <param-name>be5.projectSource</param-name>
   <param-value>C:\java\dote\github\testapp\testapp\</param-value>
  </init-param>
  <init-param>
   <param-name>be5.modulesSource</param-name>
   <param-value>C:\java\dote\github\testapp\testapp\</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>api</servlet-name>
  <url-pattern>/api/*</url-pattern>
 </servlet-mapping>

</web-app>